/* CSS declarations go here */
header {
  overflow:hidden;
  
  h1{
    font-size:170%;
    color:rgb(100,100,100);
    
  }
  section#user_panel{
    float:right;
    border:1px solid gray;
    padding:.5em;
  }
  nav{
    float:left;
  }
}
table{
  width:100%;
}
tr.selected{
  background-color:rgba(0,0,255,.3);
}